gcode_files/
printer_data/gcodes/
.ssh/
klipper/
moonraker/
mainsail/
KlipperScreen/
kiauh/
.bash_history
.bash_logout
.bashrc
.cache/
.gitignore.swp
.kiauh.ini
.local/
.profile
.viminfo
.wget-hsts
kiauh-backups/
printer_data/database/
printer_data/logs/
